:root {
  --size: 160;
  --border-size: 16;
}

body {
  background: #000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.circle {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  position: absolute;
  border: calc(var(--border-size) * 1px) solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
}

.fade-out {
  animation: fadeOut 6s cubic-bezier(0.215, 0.610, 0.355, 1) 0s 1 normal forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.1);
  }
}